---
import TahiraLayout from "../../layouts/Tahira/TahiraLayout.astro";
---

<TahiraLayout>
  <div class="flex flex-col w-full">
    <div>
      <h2 class="text-3xl text-center my-8">About</h2>
    </div>
  </div>
  <div>
    <p>
      We're a team of students from the University of Mosul located in Iraq,
      Nineveh.
    </p>
  </div>
</TahiraLayout>
