---
import TahiraLayout from "../../layouts/TahiraLayout.astro";
---

<TahiraLayout>
    <div class="flex flex-col w-full">
        <div>
            <h2 class="text-3xl text-center my-8">Models</h2>
        </div>
        <div>
            <div class="sketchfab-embed-wrapper flex flex-col items-center">
                <iframe class="w-[250px] sm:w-[400px] sm:h-[300px] md:w-[500px] md:h-[375px] lg:w-[800px] lg:h-[600px]" title="The interior view of Al Tahira Church" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/d1968dc6ad9c4d86aa3294cf880e8857/embed?autospin=1&transparent=1"></iframe>
            </div>
            <h3 class="my-2 italic text-center">I. Interior of Al-Tahira Catholic Church</h3>
        </div>
        <div>
            <div class="sketchfab-embed-wrapper flex flex-col items-center">
                <iframe class="w-[250px] sm:w-[400px] sm:h-[300px] md:w-[500px] md:h-[375px] lg:w-[800px] lg:h-[600px]" title="The main altar of Al Tahira Church" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/fc49f870e9f140f28dc99e42542cf28a/embed?autospin=1&transparent=1"></iframe>
            </div>
            <h3 class="my-2 italic text-center">II. Main Altar of Al-Tahira Catholic Church</h3>
        </div>
        <div>
            <div class="sketchfab-embed-wrapper flex flex-col items-center">
                <iframe class="w-[250px] sm:w-[400px] sm:h-[300px] md:w-[500px] md:h-[375px] lg:w-[800px] lg:h-[600px]" title="The side altar of Al Tahira Church" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/baaef37a49054f53bd630ca2ff34d451/embed?autospin=1&transparent=1"></iframe>
            </div>
            <h3 class="my-2 italic text-center">III. Side Altar of Al-Tahira Catholic Church</h3>
        </div>
        <div>
            <div class="sketchfab-embed-wrapper flex flex-col items-center">
                <iframe class="w-[250px] sm:w-[400px] sm:h-[300px] md:w-[500px] md:h-[375px] lg:w-[800px] lg:h-[600px]" title="the burning cross of Al Tahira Church" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/69069a143dd743108a7b44de29af8483/embed?autospin=1&transparent=1"></iframe>
            </div>
            <h3 class="my-2 italic text-center">IV. Cross of Al-Tahira Catholic Church</h3>
        </div>
    </div>
</TahiraLayout>