---
import TahiraLayout from "../../layouts/Tahira/TahiraLayout.astro";
---

<TahiraLayout>
  <div class="flex flex-col w-full mt-10 mb-40">
    <div class="grid grid-cols-1 my-20 gap-10 md:grid-cols-2">
      <h2 class="text-4xl secondary-font">TIMELINE</h2>
      <p class="primary-font text-secondary">From being almost fully destroyed in 2017, to being visited by Pope Francis in 2023 and completing reconstruction in 2024.</p>
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-10">
        <div id="bg1" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Beginnings (1859 CE - 1862 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">Built between 1859 and 1862, the Syriac-Catholic Church of Tahira took three years to build. It is part of a complex of churches located in the Hosh al-Bay'ah area. It was built under an Ottoman decree.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg2" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Syriac Orthodox Church of Al-Tahira (1895 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">The Syriac Orthodox Church of Al-Tahira was built in 1895, some 33 years after the construction of the Catholic Church, to accommodate a larger number of people. It is located next to the old church in the Hosh al-Bay'ah area and is characterized by its nativity knot roof, altar, circular dome, and muqarnas, reflecting the ingenuity of Mosulian architecture. Next to it is the Tahdhib school for religious education.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg3" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">ISIS War & Destruction (2017 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">In 2017, Mosul's Old City suffered more destruction than the rest of the city during the liberation operations from ISIS. The site of the church was a major ISIS stronghold and was one of the last to be liberated, making it one of the most heavily damaged areas. As ISIS fighters were trapped inside the churches, the churches came under intense bombardment, resulting in up to 95 percent destruction.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg4" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Reconstruction Efforts (2020 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">In 2020, debris removal from the site began in preparation for the next phase of reconstruction. By the beginning of 2022, the actual reconstruction of the Syriac-Catholic Tahira Church began, which took four years to complete. The church's architectural and historical identity was restored using Mosulian stone (al-Farsh), which was brought from quarries around the city of Mosul. All the pieces were carved on site and under the supervision of specialists, as the team had difficulty in achieving a match between the shape of the original stone and the new stone. More than 4,000 pieces were recovered based on old documents and used in the reconstruction of the Catholic church, and those that were completely damaged were replaced with similar ones. The four altars in the church were rebuilt: two of the four altars were 100% restored using the original pieces, the main altar was 60% rebuilt, and the last altar was completely rebuilt. As for the wall paintings, they were restored with the help of an Italian team specialized in stone conservation. The team worked to remove stone fragments and repair damage to the stone, including the floral motifs and eagle motifs. Layers of paint accumulated over the years were removed. The original stone was excavated, and during this process, drawings and inscriptions dating back to around the time of the church's construction, between 1900-1910, were revealed. The age of these drawings was confirmed by analyzing pigment samples, which turned out to be organic in nature. These parts have been preserved in their original form and natural colors.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg5" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Orchestra in Midst of Rubble (2021 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">Amid the rubble and the silence after the war that prevailed in the churches of Hosh al-Bay'ah, and before they were reconstructed, an orchestra played its melodies on February 18, 2021 in a very special event, to raise the sound of music that returned the place to its soul before its stones were returned to it.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg6" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Pope Francis Visit (2021 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">On March 7, 2021, amidst the rubble, Pope Francis presided over a prayer service for the victims of the war in Mosul's Hosh al-Bai'ah, a complex that includes four churches, including the Syriac Catholic Church of Al-Tahira and the Syriac Orthodox Church. During the solemn occasion, the Pope unveiled the Great Cross, which has been raised for the first time in these churches since ISIS entered Mosul in 2014. In his speech, the Pope emphasized that Mosul's true identity is one of peaceful coexistence: “Let us pray together for the victims of war and let us live in harmony beyond religious affiliations.” Since this event, the actual restoration of the Syriac-Catholic Church of Tahera has begun. The Syriac Orthodox Church of Al-Tahira has not yet been reconstructed, but it will certainly be reconstructed in the future.</p>
        </div>
      </div>
      <div class="flex flex-col gap-10">
        <div id="bg7" class="py-40 bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)]">
          <h3 class="text-5xl text-center secondary-font text-slate-200">Reconstruction Complete (2024 CE)</h3>
        </div>
        <div>
          <p class="text-lg leading-10">In 2024, the reconstruction of the Syriac-Catholic Church of Al-Tahira in Mosul was completed. The bell, made in Italy, was installed and the cross was placed on top of the church, marking the completion of the church's rehabilitation and its return to its original state, to remain as a site that exalts the glory of Christ and embodies the faith.</p>
        </div>
      </div>
    </div>
    <div class="mt-20 mb-[-40px]">
      <p>Image Credits: Basma Al-Taie, Shafaq News, Al Mowselya</p>
    </div>
  </div>
  <style>
    #bg1 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/church-destroyed1') no-repeat;
      background-size: cover;
    }

    #bg2 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/church-destroyed2.png') no-repeat;
      background-size: cover;
    }

    #bg3 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/church-destroyed3.png') no-repeat;
      background-size: cover;
    }

    #bg4 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/reconstruction.png') no-repeat;
      background-size: cover;
    }

    #bg5 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/orchestra.png') no-repeat;
      background-size: cover;
    }

    #bg6 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/pope.png') no-repeat;
      background-size: cover;
    }

    #bg7 {
      background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), 
      url('https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/al-tahira/timeline/now.png') no-repeat;
      background-size: cover;
    }
  </style>
</TahiraLayout>
