---
import TahiraLayout from "../../layouts/Tahira/TahiraLayout.astro";
---

<TahiraLayout>
    <div class="flex flex-col w-full mb-8">
        <div>
            <h2 class="text-3xl text-center my-8">Walkthrough</h2>
        </div>
        
        <div class="flex flex-col items-center">
            <iframe id="panorama" class="ku-embed" frameborder="0" allow="xr-spatial-tracking; gyroscope; accelerometer" allowfullscreen scrolling="no" src="https://kuula.co/share/collection/7bcPs?logo=1&info=1&fs=1&vr=0&zoom=1&sd=1&thumbs=1"></iframe>
        </div>
    </div>

    <style>
        #panorama {
            width: 300px;
            height: 225px;
        }
    
        @media (min-width: 420px) {
            #panorama {
                width: 400px;   
                height: 300px;   
            }
        }
    
        @media (min-width: 640px) {
            #panorama {
                width: 600px;   
                height: 450px;   
            }
        }
    
        @media (min-width: 640px) {
            #panorama {
                width: 600px;   
                height: 450px;   
            }
        }
    
        @media (min-width: 768px) {
            #panorama {
                width: 700px;   
                height: 525px;   
            }
        }
    
        @media (min-width: 1024px) {
            #panorama {
                width: 800px;   
                height: 600px;   
            }
        }
    </style>
</TahiraLayout>