<footer>
  <div class="py-4 px-8 border border-t">
    <div class="flex flex-col md:flex-row gap-4 items-center justify-between">
      <div class="md:self-start">
        <h2 class="text-xl font-bold">Contact Us</h2>
        <p>me@leda.dev</p>
      </div>
      <div class="flex flex-col md:flex-row gap-4 items-center">
        <div>
          <img
            src="/assets/pih_logo.png"
            alt="Project Innovation Hub Logo"
            class="h-[64px]"
          />
        </div>
        <div>
          <img src="/assets/daad_logo.png" alt="DAAD Logo" class="h-[64px]" />
        </div>
        <div>
          <img
            src="/assets/uomosul_logo.png"
            alt="University of Mosul Logo"
            class="h-[64px]"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
