<footer>
  <div class="py-12  px-8 border border-t">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-10 md:gap-4 items-center justify-between">
      <div class="md:self-start">
        <div class="mb-2">
          <h1 class="primary-font text-4xl font-bold mt-2 flex gap-2 items-center">
            <img src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/old-town/assets/logo" class="w-16 h-16" alt="">
            <p>Old Mosul</p>
          </h1>
        </div>
        <div>
          <p>Located 465 km northwest of Baghdad, Mosul is the center of the Governorate of Ninewah that was well known for its commercial prominence and its culturally diverse population. Its Old City is located on the West Bank of the Tigris River opposite the archaeological remains of the ancient Assyrian City of Nineveh and the mosque and shrine of Nabi Younis (Jonah’s Tomb).</h2>
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:justify-self-end gap-4 items-center">
        <div>
          <img
            src="/assets/pih_logo.png"
            alt="Project Innovation Hub Logo"
            class="h-[64px]"
          />
        </div>
        <div>
          <img src="/assets/daad_logo.png" alt="DAAD Logo" class="h-[64px]" />
        </div>
        <div>
          <img
            src="/assets/uomosul_logo.png"
            alt="University of Mosul Logo"
            class="h-[64px]"
          />
        </div>
      </div>
    </div>
    <div>
    <div class="border-t border-black opacity-20 mt-[64px] mb-[32px]"></div>
      <div>
        <p
          class="secondary-font text-(--text-secondary) text-sm font-normal"
        >
          © 2025 All rights reserved
        </p>
      </div>
    </div>
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: #c8c4c4;
  }
</style>