---
import { Icon } from 'astro-icon';
---

<a title="Github" href="https://github.com/LedaThemis" target="_blank" rel="noreferrer noopener"
  ><Icon
    pack="bi"
    name="github"
    aria-hidden="true"
    focusable="false"
    class="text-gray-300 hover:text-gray-600 transition-colors duration-150 cursor-pointer w-6"
  />
  <span class="sr-only">Github (opens in new tab)</span>
</a>
