---
import { Icon } from 'astro-icon';
---

<Icon
  pack="gridicons"
  name="external"
  aria-hidden="true"
  focusable="false"
  class="cursor-pointer w-5"
/>
<span class="sr-only">(opens in new tab)</span>
