---
import { Icon } from 'astro-icon';
---

<Icon
  pack="icomoon-free"
  name="new-tab"
  aria-hidden="true"
  focusable="false"
  class="cursor-pointer w-4"
/>
<span class="sr-only">(opens in new tab)</span>
