<footer>
  <div class="py-12  px-8 border border-t">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-10 md:gap-4 items-center justify-between">
      <div class="md:self-start">
        <div class="mb-2">
          <h1 class="primary-font text-4xl font-bold mt-2 flex gap-4 items-center">
            <img src="/assets/iraq-marshes/iraq-marshes-logo3.png" class="w-16" alt="">
            <p>Iraq Marshlands</p>
          </h1>
        </div>
        <div>
          <p>The Ahwar is made up of seven components: three archaeological sites and four wetland marsh areas in southern Iraq. The archaeological cities of Uruk and Ur and the Tell Eridu archaeological site form part of the remains of the Sumerian cities and settlements that developed in southern Mesopotamia between the 4th and the 3rd millennium BCE in the marshy delta of the Tigris and Euphrates rivers. The Ahwar of Southern Iraq - also known as the Iraqi Marshlands - are unique, as one of the world's largest inland delta systems, in an extremely hot and arid environment.</p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:justify-self-end gap-4 items-center">
        <div>
          <img
            src="/assets/pih_logo.png"
            alt="Project Innovation Hub Logo"
            class="h-[64px]"
          />
        </div>
        <div>
          <img src="/assets/daad_logo.png" alt="DAAD Logo" class="h-[64px]" />
        </div>
        <div>
          <img
            src="/assets/uomosul_logo.png"
            alt="University of Mosul Logo"
            class="h-[64px]"
          />
        </div>
        <div>
          <img
            src="/assets/iraq-marshes/alnoor.png"
            alt="Al-Noor University Logo"
            class="h-[64px]"
          />
        </div>
      </div>
    </div>
    <div>
    <div class="border-t border-black opacity-[20%] mt-[64px] mb-[32px]"></div>
      <div>
        <p
          class="secondary-font text-[var(--text-secondary)] text-sm font-normal"
        >
          © 2025 All rights reserved
        </p>
      </div>
    </div>
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: #c8c4c4;
  }
</style>