---
import config from '../config';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Leda — Web Developer" description="This page does not exist or does it?">
  <main class="grid place-items-center gap-3">
    <p class="text-2xl">Welp. looks like you found one of them... a non-existent page.</p>
    <p>
      Note: if you're sure this page must exist, shoot me an email <span class="font-semibold underline"
        >{config.personal.email}</span
      >
    </p>
    <a href="/" class="underline text-blue-600 visited:text-purple-700">Go back home</a>
  </main>
</Layout>
