---
import config from "../config";
import LayoutMinimal from "../layouts/LayoutMinimal.astro";
---

<LayoutMinimal
  title="Page not found | Adil Al Qaba - Software Engineer"
  description="Oops, page not found! Head back to explore Adil Al Qaba (عادل محمد عدنان)'s work, events, writing, and more."
>
  <main style="flex: 1 0 auto;">
    <h2>Not found</h2>
    <p>
      Welp. looks like you found one of them... a non-existent page.
    </p>
    <p>
      Note: if you're sure this page must exist, shoot me an email <span
        class="font-semibold underline">{config.personal.email}</span
      >
    </p>
  </main>
</LayoutMinimal>
