---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import About from "../components/About.astro";
---

<Layout title="Adil Al Qaba — Professional Tinkerer" description="Personal website of Adil Al Qaba">
  <main class="flex flex-col gap-5 mx-auto">
    <Welcome />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
