---
import IraqMarshesLayout from "../layouts/IraqMarshes/IraqMarshesLayout.astro";
---
<IraqMarshesLayout showFooter={false}>
  <div class="grow flex flex-col items-center justify-center">
    <!-- <iframe title="The main altar of Al-Tahira Catholic Church" class="w-full h-full grow mt-5 mb-10" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/fc49f870e9f140f28dc99e42542cf28a/embed?autospin=1&autostart=1&camera=0&transparent=1"> </iframe>  -->
  </div>
  <div class="left-0 top-0 absolute w-full h-full">
      <!-- NEEDLE -->
      <!-- <script type="module" src="https://cdn.leda.dev/portfolio/old-town/needle/assets/index.js"></script>
      <needle-engine src="https://cdn.leda.dev/portfolio/old-town/needle/assets/Sandbox.glb"></needle-engine> -->
      <!-- NEEDLE END -->
  </div>
</IraqMarshesLayout>