---
import OldTownLayout from "../layouts/OldTown/OldTownLayout.astro";
---
<OldTownLayout>
  <div class="grow flex flex-col items-center justify-center">
    <p class="text-4xl font-bold">Loading Interative Map...</p>
  </div>
  <div class="left-0 top-0 absolute w-full h-full">
      <!-- NEEDLE -->
      <script type="module" src="https://cdn.leda.dev/portfolio/old-town/needle/assets/index.js"></script>
      <needle-engine src="https://cdn.leda.dev/portfolio/old-town/needle/assets/Sandbox.glb"></needle-engine>
      <!-- NEEDLE END -->
  </div>
</OldTownLayout>