---
import OldTownLayout from "../layouts/OldTownLayout.astro";
---

<OldTownLayout>
    <div class="mt-8">
        <p>Mosul is a major city in northern Iraq, serving as the capital of Nineveh Governorate.
          The city is considered the second-largest city in Iraq in terms of population and area after
          the capital Baghdad.</p>
    </div>
</OldTownLayout>