---
import type { ProjectDetailsMDXProps } from "../lib/interfaces/ProjectDetails";
import Project from "../components/Project.astro";
import Contact from "../components/Contact.astro";
import LayoutMinimal from "../layouts/LayoutMinimal.astro";

const projects = await Astro.glob<ProjectDetailsMDXProps>(
  "../pages/projects/*.mdx",
);

const publishedProjects = projects
  .filter((project) => !project.frontmatter.draft)
  .sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<LayoutMinimal
  title="Projects | Adil Al Qaba - Software Engineer"
  description="Adil Al Qaba (عادل محمد عدنان), a software engineer and published researcher, winner of many international prizes like Huawei ICT, ACPC, DoCH, Falling Walls"
>
  <main>
    <aside
      style="margin: 24px 0; padding: 10px; background-color: #ffcc00; border: 1px solid #cc9900;"
    >
      <strong>Warning:</strong> This page has not been updated in a while, some information might be outdated.
    </aside>
    <h2>Projects</h2>
    <p>Below is a list of all my projects that I've written about:</p>
    <div style="display: grid; gap: 20px;">
      {
        publishedProjects.map((project) => (
          <Project mdxProps={project.frontmatter} url={project.url} />
        ))
      }
    </div>
    <Contact />
  </main>
</LayoutMinimal>
