---
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col w-full">
    <div>
      <h2 class="text-3xl text-center my-8">About</h2>
    </div>
  </div>
  <div>
    <p>
      Our goal is to preserve the southern marshes of Iraq. We are an international team of researches, and students.
    </p>
  </div>
</IraqMarshesLayout>
