---
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col items-center">
    <div style="max-width: 512px;" class="flex flex-col items-center mb-8">
      <div>
        <h2 class="text-3xl text-center my-8">Experiences</h2>
      </div>
      <div>
        <h3 class="text-2xl text-center my-6">Tantal</h3>
      </div>
      <div class="flex flex-col items-center">
        <a href="https://play.google.com/store/apps/details?id=com.Mohammed.Tantal" target="_blank" rel="noopener noreferrer">
          <img class="w-32" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/experiences/qherk8scapcnrfz1uj6e" alt="">
        </a>
      </div>
      <div class="my-4 text-sm md:text-base italic">
        <p>Quick Game Enjoy With Driving A Boat In The Mesopotamian Marshes, Avoid The creature "Tantal" May Appear To You From Under The Water To Attack You, Try To Escape From It, Avoid The Barriers And The Reed Houses And The Sumerian Statues</p>
      </div>
      <div class="mt-2 mb-4">
        <a href="https://play.google.com/store/apps/details?id=com.Mohammed.Tantal" target="_blank" rel="noopener noreferrer">
          <img class="w-full" src="/assets/iraq-marshes/google-play.svg" alt="">
        </a>
      </div>
      <div>
        <h3 class="text-2xl text-center my-6">Royal of Ur</h3>
      </div>
      <div class="flex justify-center">
        <a href="https://play.google.com/store/apps/details?id=com.Mohammed.RoyalOfUr" target="_blank" rel="noopener noreferrer">
          <img class="w-32" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/experiences/jm15gjbj6ofjxszjzfnb" alt="">
        </a>
      </div>
      <div class="my-4 text-sm md:text-base italic">
        <p>The Royal Game of Ur is a two-player strategy race board game of the tables family that was first played in ancient Mesopotamia during the early third millennium BC.</p>
      </div>
      <div class="mt-2 mb-4">
        <a href="https://play.google.com/store/apps/details?id=com.Mohammed.RoyalOfUr" target="_blank" rel="noopener noreferrer">
          <img class="w-full" src="/assets/iraq-marshes/google-play.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <script
  defer
  src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
  />
</IraqMarshesLayout>
