---
import ModelView from "../../components/IraqMarshes/ModelView.astro";
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col w-full mb-8">
    <div>
      <h2 class="text-3xl text-center my-8">Gallery</h2>
    </div>
    <div>
      <h3 class="text-2xl text-center my-6">Before and After</h3>
    </div>
    <div class="flex flex-col items-center">
      <img-comparison-slider>
      <img class="max-w-5xl w-full" slot="first" src="/public/assets/iraq-marshes/IMG-20251122-WA0131.jpg" />
      <img class="max-w-5xl w-full" slot="second" src="/public/assets/iraq-marshes/33ceec44e3fd3aa00e3104cbcf38d297.jpg" />
      </img-comparison-slider>
    </div>
    <div>
      <h3 class="text-2xl text-center my-6">Biodiversity</h3>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <img class="h-auto max-w-full" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/u440dypcbljwjf3ffmem" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/i6mq2pftlrie1xynyxga" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/fclunmf2ayavoc3nwrwj" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/gp5fovglzb0zlvzaxgzg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG-20251122-WA0104.jpg" alt="">
        <p class="text-2xl text-center mt-2">Eurasian Coot</p>
      </div>
      <div>
        <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG-20251122-WA0105.jpg" alt="">
        <p class="text-2xl text-center">Mallard (M & F)</p>
      </div>
      <div>
        <div class="flex items-center max-w-full gap-4">
          <img class="h-auto max-w-full w-1/2 object-contain" src="/public/assets/iraq-marshes/1000259823.webp" alt="">
          <img class="h-auto max-w-full w-1/2 object-contain" src="/public/assets/iraq-marshes/1000259825.webp" alt="">
        </div>
        <p class="text-2xl text-center mt-2">Water Buffalo</p>
      </div>
      <div class="mt-[-226px]">
        <div>
          <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG_20251122_115449_518.jpg" alt="">
          <p class="text-2xl text-center mt-2">Black Francolin</p>
        </div>
        <div>
          <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG-20251122-WA0120.jpg" alt="">
          <p class="text-2xl text-center my-2 ">Wigeon</p>
        </div>
        <div>
          <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG-20251122-WA0118.jpg" alt="">
          <p class="text-2xl text-center mt-2">Water Hen</p>
        </div>
      </div>
      <div class="-mt-[645px]">
        <img class="h-auto max-w-full" src="/public/assets/iraq-marshes/IMG_20251122_112947_451.jpg" alt="">
        <p class="text-2xl text-center mt-2">Northern Pintail</p>
      </div>
  </div>
  <script
  defer
  src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
  />
</IraqMarshesLayout>
