---
import ModelView from "../../components/IraqMarshes/ModelView.astro";
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col w-full mb-8 px-4 max-w-7xl mx-auto">
    <div>
      <h2 class="text-2xl md:text-3xl text-center my-8">Gallery</h2>
    </div>
    <div>
      <h3 class="text-xl md:text-2xl text-center my-6">Before and After</h3>
    </div>
    <div class="flex flex-col items-center mb-8">
      <img-comparison-slider class="w-full max-w-5xl">
      <img class="w-full" slot="first" src="/assets/iraq-marshes/IMG-20251122-WA0131.jpg" />
      <img class="w-full" slot="second" src="/assets/iraq-marshes/33ceec44e3fd3aa00e3104cbcf38d297.jpg" />
      </img-comparison-slider>
    </div>
    <div>
      <h3 class="text-xl md:text-2xl text-center my-6">Biodiversity</h3>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/u440dypcbljwjf3ffmem" alt="">
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/i6mq2pftlrie1xynyxga" alt="">
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/fclunmf2ayavoc3nwrwj" alt="">
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="https://res.cloudinary.com/dj08db9y2/image/upload/f_auto,q_auto/v1/iraq-marshes/gallery/gp5fovglzb0zlvzaxgzg" alt="">
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG-20251122-WA0104.jpg" alt="Eurasian Coot">
        <p class="text-lg md:text-2xl text-center mt-2">Eurasian Coot</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG-20251122-WA0105.jpg" alt="Mallard">
        <p class="text-lg md:text-2xl text-center mt-2">Mallard (M & F)</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <div class="flex items-center w-full gap-2 md:gap-4">
          <img class="h-auto w-1/2 object-cover" src="/assets/iraq-marshes/1000259823.webp" alt="Water Buffalo">
          <img class="h-auto w-1/2 object-cover" src="/assets/iraq-marshes/1000259825.webp" alt="Water Buffalo">
        </div>
        <p class="text-lg md:text-2xl text-center mt-2">Water Buffalo</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG_20251122_115449_518.jpg" alt="Black Francolin">
        <p class="text-lg md:text-2xl text-center mt-2">Black Francolin</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG-20251122-WA0120.jpg" alt="Wigeon">
        <p class="text-lg md:text-2xl text-center mt-2">Wigeon</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG-20251122-WA0118.jpg" alt="Water Hen">
        <p class="text-lg md:text-2xl text-center mt-2">Water Hen</p>
      </div>
      <div class="overflow-hidden rounded-lg">
        <img class="h-auto w-full object-cover" src="/assets/iraq-marshes/IMG_20251122_112947_451.jpg" alt="Northern Pintail">
        <p class="text-lg md:text-2xl text-center mt-2">Northern Pintail</p>
      </div>
  </div>
  <script
  defer
  src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
  />
</IraqMarshesLayout>
