---
import ModelView from "../../components/IraqMarshes/ModelView.astro";
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col w-full mb-8">
    <div>
      <h2 class="text-3xl text-center my-8">Models</h2>
    </div>
    <ModelView
      modelId="chibayish"
      caption="I. Ahwar Al-Chibayish"
      embedUrl="https://sketchfab.com/models/41da5e81804c49258cdcd21b0d88352f/embed"
    />
    <ModelView
      modelId="mudhif"
      caption="II. Mudhif"
      embedUrl="https://sketchfab.com/models/6e894da71f144d0db08a781c005745f5/embed"
    />
  </div>
</IraqMarshesLayout>
