---
import ModelView from "../../components/IraqMarshes/ModelView.astro";
import IraqMarshesLayout from "../../layouts/IraqMarshes/IraqMarshesLayout.astro";
---

<IraqMarshesLayout>
  <div class="flex flex-col w-full mb-8">
    <div>
      <h2 class="text-3xl text-center my-8">Models</h2>
    </div>
    <ModelView
      modelId="summer-mudhif"
      caption="I. Summer Mudhif (Guesthouse)"
      embedUrl="https://sketchfab.com/models/92abc246e2414f3ea39397aa4ea18a4d/embed"
    />
    <ModelView
      modelId="reed-house"
      caption="II. Reed House"
      embedUrl="https://sketchfab.com/models/c903d428e95e46aeadfff17bb7cfb22c/embed"
    />
    <ModelView
      modelId="abandoned-house"
      caption="III. Abandoned House"
      embedUrl="https://sketchfab.com/models/8cfabbfb36224a92827510b0834075ae/embed"
    />
    <ModelView
      modelId="summer-house"
      caption="IV. Summer House"
      embedUrl="https://sketchfab.com/models/738b2f413a1c491d833719f2a5ae9cf7/embed"
    />
    <ModelView
      modelId="buffalo-skull"
      caption="V. Buffalo Skull"
      embedUrl="https://sketchfab.com/models/25d2647d9b7c46f8b7e9950dde6bfd47/embed"
    />
    <ModelView
      modelId="boats"
      caption="VI. Boats"
      embedUrl="https://sketchfab.com/models/f5847f7a05d549aab7a637b21e990163/embed"
    />
    <ModelView
      modelId="marshlands-mapping"
      caption="VII. Marshlands Mapping"
      embedUrl="https://sketchfab.com/models/82f7468922244b03ab1edde746f936a3/embed"
    />
    <ModelView
      modelId="marshlands-mapping-2"
      caption="VIII. Marshlands Mapping 2"
      embedUrl="https://sketchfab.com/models/ba247df05b4e48b98d907412aabcdf9f/embed"
    />
    <ModelView
      modelId="chibayish"
      caption="IX. Ahwar Al-Chibayish"
      embedUrl="https://sketchfab.com/models/41da5e81804c49258cdcd21b0d88352f/embed"
    />
    <ModelView
      modelId="mudhif"
      caption="X. Mudhif"
      embedUrl="https://sketchfab.com/models/6e894da71f144d0db08a781c005745f5/embed"
    />
  </div>
</IraqMarshesLayout>
