---
import TwemojiSwan from "../icons/TwemojiSwan.astro";
import ExternalLink from "./ExternalLink.astro";
---

<section>
  <header>
    <h2 class="text-4xl font-title font-bold py-2">About Me</h2>
    <p class="font-body flex flex-col gap-3.5">
      <span
        >It all started with
        <ExternalLink name="Unity" url="https://unity.com" />
        , a game engine I built games with following tutorials (Thanks to
        <ExternalLink
          name="Brackeys"
          url="https://youtube.com/channel/UCYbK_tjZ2OrIZFBvU6CCMiA"
        />)</span
      >
      <span>
        And over the years, I kept learning (even diving into low-level
        programming, <ExternalLink
          name="6502 - Wikipedia"
          url="https://en.wikipedia.org/wiki/MOS_Technology_6502"
        />) until I stumbled on Web Development, from which I discovered my love
        for building things!
      </span>
      <span
        >Outside of coding, I play chess and table tennis (ping-pong). <em
          ><ExternalLink
            name="Backspin serve!"
            url="https://www.youtube.com/watch?v=8pqkVXsk6Pw"
          />
        </em>
      </span>
      <span>
        Wondering about the <TwemojiSwan />? It is a reference to <ExternalLink name="Leda and the Swan" url="https://en.wikipedia.org/wiki/Leda_and_the_Swan" />
      </span>
    </p>
  </header>
</section>
