---
import config from "../config";
---

<section id="contact" class="flex flex-col gap-5">
  <header>
    <h2 class="text-4xl font-title font-bold py-2">Contact</h2>
    <p class="font-body">
      If you have any feedback about the site or want to connect, email me at <a
        href={`mailto:${config.personal.email}`}
        class="underline underline-offset-4 font-semibold"
        >{config.personal.email}</a>
    </p>
  </header>
</section>
