---
import ContactForm from './ContactForm.astro';
---

<section>
  <header>
    <h2 class="text-4xl font-title py-2">Contact</h2>
    <p>
      If you have any feedback about the site or want to connect, email me at <a
        href="mailto:contact@leda.dev"
        class="underline underline-offset-4">contact@leda.dev</a
      >
    </p>
  </header>
  <!-- <ContactForm /> -->
</section>
<style></style>
