---
import config from '../config';
import ContactForm from './ContactForm.astro';
---

<section id="contact">
  <header>
    <h2 class="text-4xl font-title py-2">Contact</h2>
    <p class="font-body">
      If you have any feedback about the site or want to connect, email me at <a
        href={`mailto:${config.personal.email}`}
        class="underline underline-offset-4 font-semibold">{config.personal.email}</a
      >
    </p>
  </header>
  <!-- <ContactForm /> -->
</section>
<style></style>
