---
import config from "../config";
---

<footer
  style="display: flex; justify-content: space-between; align-items: center;"
>
  <p>&copy; 2026 Adil Al Qaba</p>
  <nav aria-label="Bottom Navigation">
    <ul class="nav-list">
      <li>
        <a href={config.portfolio.github} class="nav-link">Source Code</a>
      </li>
    </ul>
  </nav>
</footer>
