---
import config from "../config";
---
<hr style="width: 100%;">
<footer style="margin: 0 auto;">
  <nav style="margin: 0 auto;" aria-label="Bottom Navigation">
    <ul class="nav-list">
      <li>
        <a href="/privacy" class="nav-link">Privacy</a>
      </li>
      <li>
        <a href="/photo-archive" class="nav-link">Photo Archive</a>
      </li>
      <li>
        <a href={config.portfolio.github} class="nav-link">Source Code<span class="sr-only"> for this website</span></a>
      </li>
    </ul>
  </nav>
  <p style="font-size: 14px; text-align: center;">&copy; 2022-2026 Adil Al Qaba</p>
</footer>
