<header>
  <h1>Adil Al Qaba</h1>
  <!-- <CldImage width={128} height={128} style="display: inline-block; width: 128px; height: 128px; border-radius: calc(infinity*1px); object-fit: cover;" src="profile_picture" alt="Close-up portrait showing Adil Al Qaba (عادل محمد عدنان)'s face" loading="eager" optimize={true}> -->
  <nav aria-label="Top Navigation">
    <ul class="nav-list">
      <li>
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li>
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li>
        <a class="nav-link" href="/press">Press</a>
      </li>
      <li>
        <a class="nav-link" href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
