---
import TwemojiSwan from '../icons/TwemojiSwan.astro';
import Navlink from './Navlink.astro';
---

<header class="flex justify-between items-center pt-4">
  <h1 class="text-2xl text-black font-bold font-title">
    <a href="/"><p class="inline-block align-middle">Leda</p> <TwemojiSwan /></a>
  </h1>
  <nav aria-label="Top Navigation" class="flex gap-3">
    <Navlink title="Projects" link="/#projects" />
    <Navlink title="Contact" link="/#contact" />
  </nav>
</header>
