<header>
  <h1><a class="nav-link" href="/">Adil Al Qaba</a></h1>
  <nav aria-label="Top Navigation">
    <ul class="nav-list">
      <li>
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li>
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li>
        <a class="nav-link" href="/press">Press</a>
      </li>
      <li>
        <a class="nav-link" href="/photo-archive">Photo Archive</a>
      </li>
      <li>
        <a class="nav-link" href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
