---
export interface Props {
    title: string;
    link: string;
}

const { title, link } = Astro.props;
---
<a href={link} class="font-title text-gray-500 hover:text-gray-900 transition-colors duration-150">{title}</a>