---
import type { ProjectDetailsMDXProps } from "../lib/interfaces/ProjectDetails";
import Project from "./Project.astro";

const projects = await Astro.glob<ProjectDetailsMDXProps>(
  "../pages/projects/*.mdx"
);

const publishedProjects = projects
  .filter((project) => !project.frontmatter.draft)
  .sort((a, b) => a.frontmatter.order - b.frontmatter.order);
---

<section id="projects" class="flex flex-col gap-3">
  <header>
    <h2 class="text-4xl font-title font-bold py-2">What I'm working on</h2>
    <p class="font-body">
      The following are what I enjoyed and learned from the most. They're
      projects I'm passionate about!
    </p>
  </header>
  <div class="grid gap-5">
    {
      publishedProjects.map((project) => (
        <Project mdxProps={project.frontmatter} url={project.url} />
      ))
    }
  </div>
</section>
