---
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import CldImage from "./CldImage.astro";
---

<div class="flex flex-col sm:flex-row gap-0 sm:gap-8 mt-10">
  <div class="mb-4 shrink-0">
    <CldImage width={128} height={128} class="w-32 h-32 rounded-full border border-black object-cover" src="profile_picture" alt="Close-up portrait showing Adil Al Qaba's face" loading="eager" optimize={true}>
  </div>
  <div>
    <p class="text-xl sm:text-3xl font-title">Hi there &#128075; I'm a</p>
    <p class="text-3xl sm:text-5xl font-bold text-violet-600 font-title">
      Professional Tinkerer<span class="text-red-500">*</span>
    </p>
    <p class="text-lg font-title">I build things I find interesting.</p>
    <div class="flex gap-1.5 text-lg font-title">
      <p>You can find me on</p>
      <GithubIcon />
      <LinkedInIcon />
    </div>
    <p class="italic text-sm"><span class="text-red-500">*</span>on a more serious note, I go by: Software Engineer, Backend Engineer, Simulation Engineer, 3D Specialist, Data Scientist.</p>
  </div>
</div>
