---
import GithubIcon from '../icons/GithubIcon.astro';
---

<div class="flex flex-col gap-2 py-10">
  <h2 class="text-3xl font-title">Hi there &#128075; I'm a</h2>
  <p class="text-5xl font-bold text-violet-600 font-title">Web Developer</p>
  <p class="text-lg font-title">I build things I find interesting.</p>
  <div class="flex gap-1.5 text-lg font-title">
    <p>You can find me on</p>
    <GithubIcon />
  </div>
</div>
