---
import HoshAlBayaaSVG from "./HoshAlBayaaSVG.astro";
---

<footer>
  <div
    class="py-8 px-(--padding-main) border-t bg-(--bg-secondary) mx-[calc(var(--padding-main)*-1)] mb-[calc(var(--padding-main)*-1)]"
  >
    <div class="flex flex-col lg:grid lg:grid-cols-3 xl:grid-cols-4 gap-10">
      <div class="col-span-1 col-start-1 flex flex-col gap-8">
        <HoshAlBayaaSVG />
        <p class="text-sm font-normal text-(--text-secondary)">
          Al-Tahira Churches are a collection of churches that date back to 1862
          CE, this project aims to digitalize two churches, the orthodox church
          (1895 CE) and the catholic church (1862 CE).
        </p>
      </div>
      <div class="col-span-1 col-start-2 flex flex-col gap-7">
        <h3 class="secondary-font text-2xl font-medium">Quick Links</h3>
        <div class="flex flex-col gap-3">
          <div>
            <a
              class="primary-font text-base font-normal opacity-40"
              href="/al-tahira-church"
            >
              Home
            </a>
          </div>
          <div>
            <a
              class="primary-font text-base font-normal opacity-40"
              href="/al-tahira-church/timeline"
            >
              Timeline
            </a>
          </div>
          <div>
            <a
              class="primary-font text-base font-normal opacity-40"
              href="/al-tahira-church/models"
            >
              Models
            </a>
          </div>
          <div>
            <a
              class="primary-font text-base font-normal opacity-40"
              href="/al-tahira-church/walkthrough"
            >
              Virtual Walkthrough
            </a>
          </div>
          <div>
            <a
              class="primary-font text-base font-normal opacity-40"
              href="/al-tahira-church/about"
            >
              About
            </a>
          </div>
        </div>
      </div>
      <div class="lg:col-span-1 xl:col-span-2 col-start-3 flex flex-col gap-4">
        <p class="secondary-font font-medium text-2xl">
          Digitalizing Al-Tahira Churches Collection 1862 CE
        </p>
        <div class="flex flex-col-reverse lg:flex-row gap-4 items-center">
          <div>
            <img src="/assets/daad_logo.png" alt="DAAD Logo" class="h-[64px]" />
          </div>
          <div>
            <img
              src="/assets/pih_logo.png"
              alt="Project Innovation Hub Logo"
              class="h-[64px]"
            />
          </div>
          <div>
            <img
              src="/assets/uomosul_logo.png"
              alt="University of Mosul Logo"
              class="h-[64px]"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-black opacity-20 mt-[64px] mb-[32px]"></div>
    <div>
      <p
        class="secondary-font text-(--text-secondary) text-sm font-normal"
      >
        © 2025 All rights reserved
      </p>
    </div>
  </div>
</footer>
