---
export interface Props {
  technologies: string;
}

const { technologies } = Astro.props;

import * as si from "simple-icons";

type IconStringsType = keyof typeof si;

const parseTechnologies = (technologies: string) => technologies.split(" ");

const capitalizeFirstLetter = (str: string) =>
  str[0].toUpperCase() + str.substring(1);

const getTechName = (name: string) =>
  ("si" + capitalizeFirstLetter(name)) as IconStringsType;

const getTechIcon = (techName: IconStringsType) => {
  const icon = si[techName];

  const fillStyle = `fill: #${icon.hex};`;

  return { title: icon.title, path: icon.path, fillStyle };
};

const techList = parseTechnologies(technologies);

const IconInfoList = techList.map((name) => getTechIcon(getTechName(name)));
---

<div>
  <h3 style="margin-bottom: 0;">Technologies Used</h3>
  <div style="display: flex; gap: 12px; flex-wrap: wrap;">
    {
      IconInfoList.map(({ title, path, fillStyle }) => (
        <div style="display: flex; align-items: center; gap: 8px">
          <svg
            style={[fillStyle, "width: 24px"].join(' ')}
            aria-hidden="true"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>{title}</title>
            <path d={path} />
          </svg>
          <p class="font-title">{title}</p>
        </div>
      ))
    }
  </div>
</div>
