---
import type { ProjectDetailsMDXProps } from "../../lib/interfaces/ProjectDetails";
import ExternalLink from "../ExternalLink.astro";

export interface Props {
  name: ProjectDetailsMDXProps["projectName"];
  source: ProjectDetailsMDXProps["projectSource"];
  demo: ProjectDetailsMDXProps["projectDemo"];
}

const { name, source, demo } = Astro.props;
---

<div>
  <h3 style="margin-bottom: 0;">Links</h3>
  <div style="display: flex; gap: 12px">
    <ExternalLink
      name="Github"
      class="font-body text-xl"
      altText={`for ${name}`}
      url={source}
    />
    <ExternalLink
      name="Website"
      class="font-body text-xl"
      altText={`for ${name}`}
      url={demo}
    />
  </div>
</div>
