---
import type { ProjectDetailsMDXProps } from "../../lib/interfaces/ProjectDetails";

export interface Props {
  name: ProjectDetailsMDXProps["projectName"];
  description: ProjectDetailsMDXProps["projectDescription"];
}

const { name, description } = Astro.props;
---

<header>
  <h2 class="text-5xl md:text-6xl font-title font-bold py-4">{name}</h2>
  <p class="text-lg font-body">{description}</p>
</header>
