---
import type { ProjectDetailsMDXProps } from "../../lib/interfaces/ProjectDetails";
import ExternalLink from "../ExternalLink.astro";

export interface Props {
  name: ProjectDetailsMDXProps["projectName"];
  source: ProjectDetailsMDXProps["projectSource"];
  demo: ProjectDetailsMDXProps["projectDemo"];
}

const { name, source, demo } = Astro.props;
---

<div class="flex flex-col gap-4">
  <h3 class="text-2xl font-title font-bold">Links</h3>
  <div class="flex gap-3">
    <ExternalLink
      name="Github"
      class="font-body text-xl"
      altText={`for ${name}`}
      url={source}
    />
    <ExternalLink
      name="Website"
      class="font-body text-xl"
      altText={`for ${name}`}
      url={demo}
    />
  </div>
</div>

<style is:inline>
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
