---
import type { ProjectDetailsMDXProps } from "../../lib/interfaces/ProjectDetails";

export interface Props {
  name: ProjectDetailsMDXProps["projectName"];
  description: ProjectDetailsMDXProps["projectDescription"];
}

const { name, description } = Astro.props;
---

<header>
  <h2>{name}</h2>
  <p>{description}</p>
</header>
