---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Form submission succeeded - Adil Al Qaba"
  description="Contact form submission succeeded"
>
  <main class="grid place-items-center mt-5">
    <p class="text-3xl text-green-600">Successfully submitted form.</p>
    <p>Thanks for reaching out!</p>
  </main>
</Layout>
