---
import ModelView from "../../components/OldTown/ModelView.astro";
import OldTownLayout from "../../layouts/OldTown/OldTownLayout.astro";
---

<OldTownLayout>
  <div class="flex flex-col w-full mb-8">
    <div>
      <h2 class="text-3xl text-center my-8">Models</h2>
    </div>
    <ModelView
      modelId="qantara"
      caption="I. Qantara (Arched Tunnel)"
      embedUrl="https://sketchfab.com/models/d7450cffa7344f859c5fd6ff80dadef8/embed"
    />
    <ModelView
      modelId="jaleeli"
      caption="II. Jaleeli House"
      embedUrl="https://sketchfab.com/models/5b7b243e60104ead92decc22aa9d316c/embed"
    />
    <ModelView
      modelId="jaleeli2"
      caption="III. Jaleeli House (2nd Courtyard)"
      embedUrl="https://sketchfab.com/models/18db765e3e5c46d4b29f641da540d785/embed"
    />
    <ModelView
      modelId="bridge"
      caption="IV. Bridge"
      embedUrl="https://sketchfab.com/models/71c6287cbf96400598eb5cc1c7d46701/embed"
    />
    <ModelView
      modelId="charred-iwan"
      caption="V. Charred Iwan"
      embedUrl="https://sketchfab.com/models/6a6c5ad504244ec4a39a64ad825726a0/embed"
    />
    <ModelView
      modelId="ruined-room"
      caption="VI. Ruined Room"
      embedUrl="https://sketchfab.com/models/56555dc094cf4134809f7c8fcb486512/embed"
    />
    <ModelView
      caption="VII. Courtyard of Old House"
      embedUrl="https://sketchfab.com/models/2662af1c11a94cb1b1904d34c5834fd9/embed"
    />
    <ModelView
      modelId="damaged-room"
      caption="VIII. Damaged Room"
      embedUrl="https://sketchfab.com/models/eb26037a51c64a9197623964c94b84e5/embed"
    />
    <ModelView
      modelId="destroyed-room"
      caption="VIV. Destroyed Room"
      embedUrl="https://sketchfab.com/models/56555dc094cf4134809f7c8fcb486512/embed"
    />
  </div>
</OldTownLayout>
