---
import ModelView from "../../components/OldTown/ModelView.astro";
import OldTownLayout from "../../layouts/OldTown/OldTownLayout.astro";
---

<OldTownLayout>
    <div class="flex flex-col w-full mb-8">
        <div>
            <h2 class="text-3xl text-center my-8">Models</h2>
        </div>
        <ModelView caption="I. Wall of the Presidential Palace" embedUrl="https://sketchfab.com/models/5cec5ca9acf54ab4b23be556f46e9f35/embed" />
        <ModelView caption="II. Old Door" embedUrl="https://sketchfab.com/models/41910903707b4fa396349a5414f3ca8a/embed" />
        <ModelView caption="III. 2nd Wall of the Presidential Palace" embedUrl="https://sketchfab.com/models/551bff87d4e64f08931ff29ee50c2d38/embed" />
        <ModelView caption="IV. Damaged Room" embedUrl="https://sketchfab.com/models/eb26037a51c64a9197623964c94b84e5/embed" />
    </div>
</OldTownLayout>